<h1 class="article_heading">All articles</h1>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>


<%= link_to 'Create', new_article_path %>