<h1>All Categories</h1>

<div class="flickr_pagination">
    <%= will_paginate @categories, :container => false %>
</div>

<% @categories.each do |category|%>
    <p><%= link_to category.name, category_path(category) %></p>
<% end %>

<%= link_to "Create Category" , new_category_path if (is_logged_in? && current_user.admin?) %>